{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="../../..">{{ object.zone.faculty.campus.name }}</a></li>
            <li><a href="../..">{{ object.zone.faculty.name }}</a></li>
            <li><a href="..">{{ object.zone.name }}</a></li>
            <li class="active">{{ object.name }}</li>
        </ol>

        <h3>Aula {{ object.name }}</h3>
        <div class="row">
            <div class="col-md-3">
                {% if object.photo %}
                    <img class="img-rounded" src="{{ object.photo.url }}" width="100%" title="Aula {{ object.name }}">
                {% else %}
                    <img class="img-rounded" src="{% static 'img/classroom.png' %}" width="100%" title="Aula {{ object.name }}"
                        alt="Aula {{ object.name }}">
                {% endif %}
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td>Campus</td>
                        <td>{{ object.zone.faculty.campus.name }}</td>
                    </tr>
                    <tr>
                        <td>Centre</td>
                        <td>{{ object.zone.faculty.name }}</td>
                    </tr>
                    <tr>
                        <td>Zona</td>
                        <td>{{ object.zone.name }}</td>
                    </tr>
                    {% for property, status in status.items %}
                    <tr>
                        <td>{{ property }}</td>
                        <td>{{ status }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-3">
                {% for timeframe in frames %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="pull-right">
                            <img title="{{ timeframe.professor_name }}" src="{{ timeframe.professor_picture.url }}"
                                 width="30" height="30">
                        </div>
                        {{ timeframe.start_hour }} - {{ timeframe.end_hour }}<br>
                    </li>
                </ul>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}