<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Raspi{% endblock %} </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>
</head>
<body>
<!-- Top Navbar -->
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapes"
                    data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% block brand_logo %}{% url 'home' %}{% endblock %}">
                {% block brand_html %}<img width="47" height="35" src="{% static 'img/logo.png' %}">{% endblock %}
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% block booking_classes %}{% endblock %}><a href="{% url 'bookings:home' %}">Reserva</a></li>
                <li {% block supervision_classes %}{% endblock %}><a href="{% url 'supervision:home' %}">Manteniment</a></li>
                <li><a href="/admin">Configuració</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

<!-- Contents -->
{% block content %}
    <div class="container">
        <div class="center-block">
            <h2>Benvingut a Raspi!</h2>

            <p>Pots gestionar les aules de l'Universitat des del portal de Supervisió.</p>
            <p>El mòdul de Reserves està actualment desactivat.</p>
        </div>
    </div>


{% endblock %}

</body>
</html>